<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trang chủ</title>
</head>

<body>


<div class="top_header">
</div>

<div>
  <a  class="menu" routerLink="/home">Danh sách sản phẩm</a> <span class="xo">|</span> <a routerLink="/add" class="menu">Thêm sản phẩm mới</a>
</div>

<div>
  <router-outlet></router-outlet>
</div>




<!--<div class="top_header">-->
<!--</div>-->

<!--<div class="list-group">-->
<!--  <a routerLink="/home" class="list-group-item">Danh sách sản phẩm </a>-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->
</body>
</html>



