<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div class="col-sm-12 message" *ngIf="message">
  <p class="message">{{message}}</p>
</div>

<form novalidate (ngSubmit)="editProduct()" [formGroup]="data" class="row justify-content-md-center">
  <div class="col-sm-9">
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Sản phẩm:</label>
      <div class="col-md-9">
        <input class="form-control" type="text"  formControlName="name">
      </div>
    </div>
  </div>
  <div class="col-md-6 alert-danger" role="alert" *ngIf="data.get('name').invalid && data.get('name').touched">
    Invalid Name!
  </div>
  <div class="col-sm-9">
    <div class="form-group row">
      <label  class="col-md-3 col-form-label">Giá:</label>
      <div class="col-md-9">
        <input class="form-control" type="text"  formControlName="price">
      </div>
    </div>
  </div>
  <div class="col-md-6 alert-danger" role="alert" *ngIf="data.get('price').invalid && data.get('price').touched">
    Invalid Price!
  </div>
  <div class="col-sm-9">
    <div class="form-group row">
      <label  class="col-md-3 col-form-label">Mô tả:</label>
      <div class="col-md-9">
        <input class="form-control" type="text"  formControlName="description">
      </div>
    </div>
  </div>
  <div class="col-md-6 alert-danger" role="alert" *ngIf="data.get('description').invalid && data.get('description').touched">
    Invalid Description!
  </div>
  <div class="col-sm-9">
    <div class="form-group row">
      <input class="submit" type="submit" value="Sửa">
    </div>
  </div>
</form>
</body>
</html>
